#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$26djVfNzgqjb67IY$hDPEZMlxqMJytJRiLCj0sGB9myFEdgesZpcWTyHb9MbOWS0yiJ6wOxac.VHQJ9NOzhoE/N3h6OdDrJsYPkNjx0
# System services
services --disabled="chronyd"
# System timezone
timezone Africa/Cairo --isUtc --nontp
user --groups=wheel --name=yaya --password=$6$vx7C.lGwZ6o.gD7q$bDLA0cJ7Q8bhBIWsi1Do9e/UZ8d7F3LSbah7t1W2fgr5LxcuyPUC/bNItUHBO8Gt6FPQeokZGxzBv/.A70Sxa/ --iscrypted --gecos="yaya"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
